<!--<section class="contact border-top border-dark pt-4">
    <div class="social text-center" style="font-size: 25px">
        <a href="#" class="d-inline-block mr-3 text-dark"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="d-inline-block text-dark"><i class="fab fa-instagram"></i></a>
    </div>

    <p class="text-center text-uppercase">signup for our newsletter</p>

    <form method="post">
        @Html.AntiForgeryToken()
        <div class="form-group position-relative">
            <i class="fas fa-paper-plane"></i>
            <input type="email" placeholder="Email Address" />
        </div>
    </form>

    <p class="text-center">&copy; @DateTime.Now.Year ClothesStore</p>
</section>-->
